@import '../../public/vendor/bladewind/css/animate.min.css';
@import '../../public/vendor/bladewind/css/bladewind-ui.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.card {
    width: 100%;
    height: 265px;
    background: white;
    border-radius: 30px;
    /* box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff; */
    transition: 0.2s ease-in-out;
}

.img {
    width: 100%;
    height: 60%;
    /* border-top-left-radius: 30px; */
    /* border-top-right-radius: 30px; */
    /* background: linear-gradient(#e66465, #9198e5); */
    display: flex;
    align-items: top;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.text .h3 {
    font-family: "Lucida Sans" sans-serif;
    font-size: 17px;
    font-weight: 600;
    /* color: black; */
}

.text .p {
    font-family: "Lucida Sans" sans-serif;
    /* color: #999999; */
    font-size: 15px;
}

.card:hover {
    cursor: pointer;
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); */
}

